# Ignore node_modules
node_modules/

# Ignore build outputs
dist/

# Ignore TypeScript cache
*.tsbuildinfo

# Ignore environment variables
.env

# Ignore logs
logs/
*.log

# Ignore OS-specific files
.DS_Store

# Ignore IDE-specific files
.vscode/
.idea/
*venv
hls/